extends ../../layout/default.pug
include  ../../mixins/alert.pug
block main
  +alert(3000)
   
  h1.mb-4 #{titlePage}

  .card.mb-3
    .card-header Danh sách
    .card-body
      .row
        .col-8
          //- Bạn có thể chèn bảng hoặc danh sách ở đây
        .col-4.text-end
          a.btn.btn-outline-success(href=`${prefixAdmin}/topics/create`) + Thêm mới

      table.table.table-hover.table-sm
        thead
          tr
            th STT
            th Hình ảnh
            th Tiêu đề
            th Vị trí
            th Trạng thái
            th Hành động
        tbody
          each item, index in topics
            tr
              td #{index + 1}
              td
                img(src=item.avatar, alt=item.title, width="100px", height="auto")
              td #{item.title}
              td #{item.position}
              td
                if item.status === "active"
                  a.badge.badge-success.text-success(href="javascript:void(0);") Hoạt động
                else
                  a.badge.badge-danger.text-danger(href="javascript:void(0);") Dừng hoạt động
              td
                a.btn.btn-secondary.btn-sm(href=`${prefixAdmin}/topics/detail/${item.id}`) Chi tiết
                a.btn.btn-warning.btn-sm(href=`${prefixAdmin}/topics/edit/${item.id}`) Sửa
                button.btn.btn-danger.btn-sm(
                    type="button",
                    data-id=item.id,
                    data-toggle="modal",
                    data-target="#exampleModal",
                    button-delete,
                    button-delete-topics,
                    title="Xóa"
                  )
                    i.fas.fa-trash.mr-1
                    | Xóa
  form(
      action=""
      method="POST"
      id="form-delete-topics"
      data-path=`${prefixAdmin}/topics/delete`
    )