extends ../../layout/default.pug
include ../../mixins/box-header.pug

block main
  .singer-detail
    .container.my-3
      .row
        .col-12
          +box-head(titlePage)
          .inner-title.mb-3 #{song.title}

          .inner-actions.d-flex.flex-wrap.gap-3.mb-4
            .inner-action.inner-time
              i.fa-regular.fa-clock.me-2
              | 20/10/2023
            .inner-action.inner-singer
              i.fa-solid.fa-microphone-lines.me-2
              | #{singer.fullName}
            .inner-action.inner-topic
              i.fa-solid.fa-music.me-2
              | #{topic.title}
            .inner-action.inner-listen
              i.fa-solid.fa-headphones.me-2
              span #{song.totalListen} listened
            div(class="inner-action inner-like"  button-like=song.id)
              i.fa-regular.fa-thumbs-up.me-2
              span #{song.like} like
            div(class=(`inner-action inner-heart` +`${song.isFavorite ? ' active' : ''}`)  button-heart=song.id)
              i.fa-regular.fa-heart.me-2
              | Bài hát yêu thích

          .inner-play.d-flex.flex-column.flex-md-row.align-items-center.gap-4.mb-4
            .inner-avatar
              img(src=song.avatar alt="Cắt Đôi Nỗi Sầu" class="rounded shadow" style="border-radius: 50% animation-play-state: paused")
            .inner-audio.flex-grow-1.mt-3.mt-md-0
              div(id="aplayer"  data-song=song  data-singer=singer)
                

          .inner-desc.mb-4
            .inner-label.fw-semibold.mb-1 Mô tả
            .inner-text.text-secondary
              | !{song.description}


          .inner-desc.mb-4
            .inner-label.fw-semibold.mb-1 Lời bài hát
            .inner-text
              | !{song.lyrics}


